<footer id="footer">

  <div class="landmark-content" id="contact">

    <div class="colophon">
      <p>The name <strong>Beauty in Code</strong> is inspired by a chapter in
        Adam Tornhill's book <a
          href="https://pragprog.com/book/atcrime/your-code-as-a-crime-scene">Your
          Code As A Crime Scene</a>.</p>
    </div>

    <h2 class="at-only">Contact us</h2>

    <ul class="footer-links">
      {% for item in site.data.footer-links %}
      <li>
        <a href="{{ item.url }}">
          {% include svg.html icon=item.icon %}
          <span class="at-only">{{ item.label }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <h2 class="at-only">Presented by</h2>

    <a href="https://livingit.se" class="founder-logo">
      <span class="at-only">Living IT</span>
      {% include svg.html icon="livingit" %}
    </a>

  </div>

</footer>
