#scrollToTopContainer {
  position: fixed;
  bottom: 2rem;
  right: 10%;
  color: hsl(1, 100%, 100%);
}

#scrollToTopContainer button {
  border-radius: 100vw;
  width: 50px;
  height: 50px;
  border: 0;
  color: inherit;
  background-color: hsl(346, 86%, 39%);
  cursor: pointer;
}

#scrollToTopContainer svg {
  width: 80%;
  height: 80%;
}

@media only screen and (max-width: 768px) {
  
  #scrollToTopContainer {
    right: 2rem;
  }
}
